In [3]:
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
from pandas import read_csv
from pandas import datetime
from matplotlib import pyplot
import seaborn as sns

# read data
nlp = pd.read_csv('DATA/convertcsv.csv', delimiter=";")
nlp.head(9)

,object,original_id,date_created,resource_type,specific_resource_type,specific_type,stream_type,object_content,from_id,from_username,...,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183,Unnamed: 184
0,GSXR150,'2208973175660123186,28/12/19 23.22,'social_media,'instagram,'media,'keyword,'GSXR150,'1799427036,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,#NAME?,'2964048643615011_2966738310012711,31/12/19 20.28,'social_media,'facebook,'comment,'account,'129264773760093,'10204620230420950,'Ita Ernawati,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#NAME?,'2540503349561258_2541513172793609,28/12/19 15.10,'social_media,'facebook,'comment,'account,'1797993397145594,'1460005517403586,'Kensii Sasuke a'Ryanz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,#NAME?,'2540503349561258_2541523849459208,28/12/19 15.24,'social_media,'facebook,'comment,'account,'1797993397145594,'598608710304313,'Her Palampitan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,#NAME?,'2540503349561258_2541510409460552,28/12/19 15.05,'social_media,'facebook,'comment,'account,'1797993397145594,'10204620230420950,'Ita Ernawati,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,#NAME?,'2540503349561258_2541725696105690,28/12/19 19.53,'social_media,'facebook,'comment,'account,'1797993397145594,'140224120152859,'Dalmargasi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,#NAME?,'2810452319011946_2811283342262177,27/12/19 20.41,'social_media,'facebook,'comment,'account,'105518809505324,'1078930602141206,'Azza Aulia Putri,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,#NAME?,'2803644816359363_449102192449885,26/12/19 19.59,'social_media,'facebook,'comment,'account,'105518809505324,'451695565755412,'Safar Noor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,GSXR150,'2209379336673497684,29/12/19 12.49,'social_media,'instagram,'media,'keyword,'GSXR150,'1361678017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# nlp["komenNegatif"] = nlp["final_sentiment"].apply(lambda x: 1 if x < 1 else 0)
# nlp["komenPositif"] = nlp["final_sentiment"].apply(lambda x: 1 if x > 1 else 0)
# select only relevant columns
nlp = nlp[["name","specific_resource_type","final_sentiment","content"]]
# reviews_df.head()
nlp.head(9)

,name,specific_resource_type,final_sentiment,content
0,NaN,'instagram,0,'- ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½182ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½...
1,'Ita Ernawati,'facebook,2,"'"" DAIHATSU SIRION "" #KuisDaihatsu #DaihatsuS..."
2,'Kensii Sasuke a'Ryanz,'facebook,2,"'"" SATRIA "" #SuzukiQuiz Kuy ikutan gaes di S..."
3,'Her Palampitan,'facebook,2,"'"" SATRIA "" #SuzukiQuiz Berjalan ke atas rota..."
4,'Ita Ernawati,'facebook,2,"'"" SATRIA "" #SuzuqiQuiz #satria Armanih"
5,'Dalmargasi,'facebook,2,"'"" SATRIA"" Beben Bahtiar Asep Ruhiyat Tajudin..."
6,'Azza Aulia Putri,'facebook,2,"'""..Jawaban : No. 1 ... posisi yang terbuka , ..."
7,'Safar Noor,'facebook,0,"'""110""... Saaaahhh.!! ðŸ¤£ðŸ¤£"
8,NaN,'instagram,0,"'""Begini salah, begitu juga salah. Kek kek kek..."

In [13]:
nlp['specific_resource_type'].value_counts()

'instagram    6019
'facebook     4683
'twitter      2294
'youtube       818
Name: specific_resource_type, dtype: int64

In [ ]:
from nltk.corpus import wordnet
import string
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer
from nltk.stem import WordNetLemmatizer
import re
import string

def clean_text(text):
    # lower text
    text = text.lower()
    # tokenize text and remove puncutation
    text = [word.strip(string.punctuation) for word in text.split(" ")]
    # remove words that contain numbers
    text = [word for word in text if not any(c.isdigit() for c in word)]
    # remove empty tokens
    text = [t for t in text if len(t) > 0]
    # pos tag text
    pos_tags = pos_tag(text)
    # remove words with only one letter
    text = [t for t in text if len(t) > 3]
    #misahkan underscore
#   text = text.replace('_', ' ')
    # join all
    text = " ".join(text)
    return(text)


Komen = nlp["content"] + " " + nlp["specific_resource_type"]

nlp["komentar"] = nlp["content"].apply(lambda x: clean_text(x))


nlp.head(9)

In [26]:
from sentistrength_id.sentistrength_id import sentistrength
from itertools import chain

config = dict()
config["negation"] = True
config["booster"]  = True
config["ungkapan"]  = True
config["consecutive"]  = True
config["repeated"]  = True
config["emoticon"]  = True
config["question"]  = True
config["exclamation"]  = True
config["punctuation"]  = True
senti = sentistrength(config)


nlp["sentiment_dari_komentar"] = reviews_df["komentar"].apply(lambda x: senti.main(x))
nlp = nlp[["name","specific_resource_type","final_sentiment","content"]]


nlp[['HasilKomentar', 'Positif', 'Negatif']] = pd.DataFrame(nlp['sentiment_dari_komentar'].tolist(), index=nlp.index)
nlp["ReviewBobot"] = nlp["sentiment_dari_komentar"].apply(lambda x: 1 if x == 'positif' else 2 if x == 'negatif' else '0')

nlp.head(10)

ModuleNotFoundError: No module named 'sentistrength_id'